@{
    ViewData["Title"] = "Home Page";
}



    <div id="app" class="row">

        <div class="col-md-6">
            <pre>{{persona}}</pre>
        </div>
        <div class="col-md-6">

            <ul class="col-md-6">
                <li v-for="element in personas" class="list-group-item">
                    {{element.nombre }} {{element.apellido}}
                </li>
            </ul>

        </div>
        

    </div>




@section Scripts{

    <script>

        var app = new Vue({
            el: "#app",
            data: {
                message: "Hola Mundo desde Vue",
                persona: "",
                personas:[],
            },
            created: function () {
                this.getPersona();
            },
            methods: {
                getPersona: function () {
                    this.personas = [],
                    this.$http.get("https://localhost:44357/api/Persona/").then(function (response) {
                        this.persona = response.body;
                        this.personas = this.persona;
                    });
                }


            }
        })

    </script>


}
